@font-face {
    font-family: "CookieRun-Regular";
    font-weight: normal;
    src: url("./font/CookieRun\ Regular.ttf") format("truetype");
}

*{
    margin: 0;
    font-family: "CookieRun-Regular";
}